---
import Layout from "@/layouts/Layout.astro";
import Banner from "@/sections/Banner.astro";
import Download from "@/sections/Download.astro";
import Features from "@/sections/Features.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import WhyWidget from "@/sections/WhyWidget.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col justify-center items-center">
    <div class="w-full bg-primary">
      <Hero data={data.heroData} />
    </div>
    <div class="w-full bg-primary-100">
      <div class="mx-auto w-3/4">
        <Services data={data.servicesData} />
      </div>
    </div>
    <div class="w-3/4">
      <Features data={data.FeatureData} />
    </div>
    <div class="w-full bg-primary-100">
      <div class="mx-auto w-3/4">
        <WhyWidget data={data.whyData} />
      </div>
    </div>
    <div class="w-3/4">
      <Download data={data.downloadData} />
    </div>
    <Banner
      id="note-banner"
      type="error"
      title="AmalanKu sedang dibangun bersama komunitas"
      description="Bergabunglah dengan para developer dan kontributor lainnya untuk mewujudkan aplikasi amalan Islam terbaik. Setiap kontribusi Anda sangat berharga!"
      cta="Gabung Sekarang"
      url="https://github.com/amalanku/amalanku.github.io#-langkah-kontribusi"
    />
    <Footer data={data.footerData} />
  </main>
</Layout>
