---
import IslamicAppShowcase from "@/components/IslamicAppShowcase.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import UsersCount from "@/components/usersCount.astro";
import Layout from "@/layouts/Layout.astro";
import Banner from "@/sections/Banner.astro";
import Download from "@/sections/Download.astro";
import Features from "@/sections/Features.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import WhyWidget from "@/sections/WhyWidget.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col justify-center items-center">
    <div class="w-full bg-primary">
      <Hero data={data.heroData} />
    </div>
    <div class="w-full bg-gradient-to-r from-blue-100 to-green-200">
      <div class="mx-auto w-3/4">
        <Services data={data.servicesData} />
      </div>
    </div>
    <div class="w-3/4">
      <Features data={data.FeatureData} />
    </div>

    <div class="w-full bg-gradient-to-r from-blue-100 to-green-200">
      <div class="mx-auto w-3/4">
        <WhyWidget data={data.whyData} />
      </div>
    </div>

    <div class="w-3/4">
      <UsersCount />
    </div>

    <div class="w-full bg-gradient-to-r from-blue-100 to-green-200">
      <div class="mx-auto w-3/4">
        <IslamicAppShowcase />
      </div>
    </div>

    <div class="w-3/4">
      <Download data={data.downloadData} />
    </div>

    <Banner
      id="note-banner"
      type="success"
      title="AmalanKu adalah aplikasi untuk membimbing kebaikan sehari-hari"
      description="Bergabunglah dengan komunitas developer dan kontributor untuk menciptakan aplikasi amalan Islami terbaik. Setiap kontribusi Anda membuat perbedaan!"
      cta="Gabung Sekarang"
      url="/kontribusi"
      newPage={false}
    />
    <Footer data={data.footerData} />
  </main>
</Layout>
<ScrollToTop />
