---
import Action from "@/components/Action.astro";
import Card from "@/components/Card.astro";
import Icon from "@/components/Icon.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { Download } from "@/config/landing.interface";

interface Props {
  data: Download;
}

const { data } = Astro.props;
---

<section id="download" class="mt-20">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div
    class="my-20 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 place-items-center"
  >
    {
      data.tiers.map((tier) => (
        <Card class="group relative h-full w-full transition-all duration-300 hover:border-primary-500/30 hover:shadow-lg">
          <header class="flex flex-col justify-center gap-y-3">
            <h3 class="text-4xl text-center font-semibold transition-colors duration-300 group-hover:text-primary-500">
              {tier.title}
            </h3>
            <p class="text-xl text-center opacity-90 group-hover:opacity-100 transition-opacity duration-300">
              {tier.description}
            </p>
          </header>

          <section class="flex justify-center my-6">
            <h4 class="text-6xl font-semibold">
              {tier.price.amount}
              {tier.price.period && (
                <span class="font-normal text-xl opacity-85">
                  {tier.price.period}
                </span>
              )}
            </h4>
          </section>

          <section class="flex justify-start mb-8">
            <ul class="flex flex-col gap-y-4 text-lg w-full">
              {tier.features.map((feature) => (
                <li class="flex items-center gap-x-2 px-6 py-2 rounded-lg transition-colors duration-200 group-hover:bg-gray-50/30">
                  <Icon
                    class="w-5 h-5 text-primary-500 flex-shrink-0"
                    icon="CheckIcon"
                  />
                  <p>{feature}</p>
                </li>
              ))}
            </ul>
          </section>

          <footer class="flex justify-center mt-auto px-6 pb-6">
            <Action
              as="a"
              class="bg-primary-700 text-white w-full group-hover:bg-primary-400 transition-colors duration-400"
              type="button"
              href={tier.url}
            >
              {tier.cta}
            </Action>
          </footer>
        </Card>
      ))
    }
  </div>
</section>
