---
import Icon from "@/components/Icon.astro";
import IconWrapper from "@/components/IconWrapper.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { Icon as IconType, WhyData } from "@/config/landing.interface";

interface Props {
  data: WhyData;
}

const { data } = Astro.props;
---

<section id="why" class=" mt-20  mb-36 w-full">
  <!-- Main Section Title -->
   <section
        class={`gap-10 lg:gap-16 mb-24 w-full max-w-7xl mx-auto px-4 sm:px-6`}>
  <SectionTitle >
    {data.title}
  </SectionTitle>
  </section>

  {data.items.map((item, idx) => {
    const isLeft = item.isLeft;

    return (
      <section
        class={`flex flex-col ${isLeft ? "md:flex-row" : "md:flex-row-reverse"} gap-10 lg:gap-16 mb-24 w-full max-w-7xl mx-auto px-4 sm:px-6`}
      >
        <!-- Title & Description -->
        <div class="w-full md:w-2/5 flex flex-col gap-6 justify-center transition-transform duration-300 ease-in-out hover:scale-[1.15] cursor-pointer">
          <SectionTitle>
            {item.title}
          </SectionTitle>

          <p class={`text-lg md:text-xl ${isLeft ? 'text-center md:text-start' : 'text-center md:text-end'}`}>
            {item.description}
          </p>
        </div>

        <!-- Services Grid -->
        <div class="w-full md:w-3/5 grid md:grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
          {item.services.map((service) => (
            <article class="flex gap-5 p-2 transition-transform duration-300 ease-in-out hover:scale-[1.15] cursor-pointer"> 
              <div class="flex-shrink-0 mt-1">
                <IconWrapper class="p-2.5 bg-primary-100/50 dark:bg-primary-900/20 rounded-lg">
                  <Icon
                    icon={service.icon as IconType}
                    class="w-5 h-5 text-white dark:text-white"
                  />
                </IconWrapper>
              </div>
              <section class="flex-1 ">
                <h3 class="text-xl lg:text-2xl font-semibold mb-2 ">
                  {service.title}
                </h3>
                <p class="text-pretty leading-relaxed text-sm lg:text-base">
                  {service.description}
                </p>
              </section>
            </article>
          ))}
        </div>
      </section>
    );
  })}
</section>
